* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.new-app {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

button {
    padding: 5px;
    color: black;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px gray;
    margin-top: 10px;
}

.new-app form {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.new-app input {
    padding: 5px;
    margin: 5px;
}

.pass_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    padding: 20px;
    position: absolute;
    background-color: white;
}

.pass_input input {
    padding: 5px;
}

.select-background {
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.select {
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px gray;
}

.select select, .select button {
    padding: 5px;
    margin: 10px;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 90%;
}

#result_text {
    width: 100%;
    padding: 10px;
}

#copy {
    padding: 5px;
    margin: 10px;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.months {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: auto;
    justify-content: center;
}

.box {
    width: 230px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 5px #333;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box:hover {
    box-shadow: 0px 0px 10px #333;
    border: 1px solid gray;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px #333;
    position: absolute;
    z-index: 2;
    width: 230px;
    height: 150px;
}

#info input {
    padding: 5px;
    margin: 5px;
}

#info button {
    padding: 5px;
    margin: 5px;
}

#overlay {
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    filter: blur(8px);
    opacity: 0.7;
}

h3 {
    color: gray;
}

.picked {
    background-color: rgba(130, 255, 130, 0.636);
}

.hidden {
    display: none !important;
}